# Data Pipeline & Core
requests
tqdm
pandas
scikit-learn
librosa
soundfile
numpy
audiomentations
matplotlib
seaborn

# Model Pipeline
tensorflow
joblib
keras-tuner

# Service
fastapi
uvicorn[standard]
python-multipart
